.v-calendar {
  width: 100%;

  &__tools {
    padding: 4px 0;
  }

  &__week {
    @include flex(space-between, flex-start);

    li {
      width: (100% / 7);
      padding: 0 4px;
      height: 48px;
      line-height: 48px;
    }
  }

  &__days {
    border: 1px solid #ddd;
    border-top: none;
    border-right: none;
    @include flex(space-between, flex-start);

    li {
      width: (100% / 7);
      padding: 4px;
      height: 101px;
      border-top: 1px solid #ddd;
      border-right: 1px solid #ddd;
    }
  }
}