.v-calendar {
  &__week {
    width: 100%;
    background: $primary-color;
    @include flex(space-between, flex-start);

    &-item {
      width: (100% / 7);
      color: #fff;
      padding: 8px;
      &:not(:first-child) {
        border-left: 1px solid #fff;
      }
    }
  }

  &__body {
    position: relative;
    margin-top: 10px;
  }

  &__month {
    width: 100%;
    @include flex(space-between, flex-start);
  }

  &__day {
    width: (100% / 7);
    height: 120px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    overflow: hidden;
    padding-top: 26px;
    &:nth-child(7n) {
      border-right: 1px solid #ddd;
    }

    &-text {
      margin-top: -26px;
      padding: 4px 8px;
      height: 26px;
      line-height: 18px;
      background: #F0F2F5;
    }

    &--pre, &--next {
      color: #bbb;
    }
  }
}
