$join-width: 24px;

.v-double-select {
  width: 240px;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  color: #606266;
  display: inline-block;
  transition: border-color .2s cubic-bezier(.645,.045,.355,1);
  outline: none;
  font-family: inherit;
  font-size: 14px;
  &:hover {
    border-color: #c0c4cc;
  }

  .el-select {
    border: none;
    -webkit-appearance: none;
    outline: none;
    width: calc((100% - #{$join-width}) / 2);
  }

  .el-input__inner {
    border: none;
    height: 38px;
    line-height: 38px;
  }

  &__join {
    display: inline-block;
    width: $join-width;
    line-height: 24px;
    text-align: center;
  }

  &--focus.v-double-select {
    border-color: #409eff;
  }

  @each $class, $size in (medium, $medium-size), (small, $small-size), (mini, $mini-size) {
    &--#{$class} {
      .el-input__inner {
        height: $size;
        line-height: $size;
      }
    }
  }
}
