/* 动画 start */
// 渐变
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

// 渐变 + 移动
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all .2s;
}

.fade-transform-enter {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

// 抖动

.bounce-enter-active {
  animation: bounce-in-left .5s;
}

.bounce-leave-active {
  animation: bounce-in-left .5s reverse;
}

@keyframes bounce-in-left {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }

  75% {
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    transform: translate3d(5px, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

/* 动画 end */

/* 状态类 start */

// 工单状态
.FINISHED {
  color: #0099ff;
}
.SCHEDULED {
  color: #f90;
}
.INPRODUCTION {
  color: #096;
}

// 维修单处理状态
.PROCESSED {
  color: #67C23A;
}
.PROCESSING {
  color: #E6A23C;
}

// 模具状态
.FREE {
  color: #ff9900;
}
.OCCUPIED {
  color: #009966a5;
}
.MAINTENANCE {
  color: #0099ffa5;
}
.SCRAPPED {
  color: #cc0000a5;
}


/* 状态类 end */

/* 布局 start */

// 两栏 / 三栏 / 四栏
@for $grid from 2 to 4 {
  .el-form-grid-#{$grid} {
    @include flex(flex-start, flex-start);
    .el-form-item {
      width: (96% / $grid);
  
      &:not(:nth-child(#{$grid}n + 1)) {
        margin-left: (4% / ($grid - 1));
      }
    }
  }
}

/* 布局 end */

/* 覆盖 start */
.el-loading-mask {
  z-index: 100;
}

.el-scrollbar__thumb {
  background-color: rgba($color: $primary-color, $alpha: 0.3);
  
  &:hover {
    background-color: $primary-color;
  }
}

/* 覆盖 end */