// 全局混入
@mixin flex($justify-content, $align, $wrap: wrap) {
  display: flex;
  justify-content: $justify-content;
  align-content: $align;
  align-items: $align;
  flex-wrap: $wrap;
}

@mixin line ($h) {
  height: $h;
  line-height: $h;
}

@mixin nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin clear {
  &::after {
    content: '';
    clear: both;
    height: 0;
    display: block;
  }
}

// 全局变量
$theme-color: #3367d6; // 主题色

$header-height: 60px; // 头部高度

$place-color: #c5c8ce; // 占位文字颜色

$medium-size: 34px;

$small-size: 30px;

$mini-size: 26px;