.el-pagination {
  text-align: right;
  padding: 6px;
}

.v-table {
  height: 100%;
  position: relative;
  &--fix-header {
    height: 100%;
  }

  &__tools {
    height: 50px;
    padding: 5px 0;
  }
}